.invert{
    animation: hide 1s linear;
    animation-fill-mode:backwards;
}

.card{
    border:5px solid black;
}

@keyframes display{
    from{
        opacity: 100;
    } to { opacity:0}
}

@keyframes hide{
    from{
        opacity: 0;
    } to { opacity:100}
}